pytest

flask>=2.0
sentry-sdk[flask]
Flask-Babel>=2.0
werkzeug~=2.0
itsdangerous~=2.0
click~=8.0
blinker~=1.4

celery~=5.0
redis

sqlalchemy~=1.4
psycopg2-binary
flask-sqlalchemy
alembic>=1.7
marshmallow>=3.14
marshmallow_sqlalchemy

WeasyPrint>=53
Markdown>=3.3
bleach
Pygments>=2.6.1
jinja2>=3
markdown-katex
