pytest

flask
sentry-sdk[flask]>=0.17.3
Flask-Babel
werkzeug
itsdangerous
click

celery>=4.4.7
redis

sqlalchemy
psycopg2-binary
flask-sqlalchemy
alembic>=1.4.2
marshmallow>=3.7.1
marshmallow_sqlalchemy

WeasyPrint>=51
markdown>=3.2.2
bleach
Pygments>=2.6.1
jinja2
