werkzeug
itsdangerous
sqlalchemy
psycopg2-binary
marshmallow>=3.5.2
marshmallow_sqlalchemy
Flask-Babel
markdown>=3.2.1
jinja2
flask
sentry-sdk[flask]>=0.14.4
Pygments>=2.6.1
flask-sqlalchemy
alembic>=1.4.2
click
redis
WeasyPrint>=51
pytest
celery>=4.4.6