<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if title %}{{ title }} - {% endif %}doku</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='vendor.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='runtime.bundle.js') }}"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
    {% include 'components/toasts.html' %}
    <div class="sidebar-layout">
        {% include 'components/sidebar.html' %}
        <div class="sidebar-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script type="text/javascript">
        function toggleSidebar() {
            let sidebar = document.getElementById('sidebar');
            let old = sidebar.classList.contains('active');
            localStorage.setItem('doku_sidebar', !old);
            sidebar.classList.toggle('active');
        }
        if (localStorage.getItem('doku_sidebar') == 'true') {
            document.getElementById('sidebar').classList.add('active');
        }
    </script>
    {% block extra_js %}{% endblock %}
</body>