<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if title %}{{ title }} - {% endif %}doku</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='vendor.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='runtime.bundle.js') }}"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="toast-messages">
                {% for message in messages %}
                    <div class="toast">
                        <button class="btn btn-clear float-right"></button>
                        {{message}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}
        {% include 'components/navbar.html' %}
    {% endblock %}
    {% block extra_js %}{% endblock %}
</body>