{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base16-light.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/codemirror.min.css') }}">
{% endblock %}
{% block body_class %}doku-edit{% endblock %}
{% block content %}
    {{ super() }}
    <div id="edit"></div>
{% endblock %}
{% block extra_js %}
    <script>
        window.templateObj = {{ template_json|tojson }};
        window.stylesheets = {{ stylesheets_json|tojson }};
        window.templateApi = '{{ url_for('api.v1.template.update') }}'
        window.stylesheetApi = '{{ url_for('api.v1.stylesheet.update') }}'
        {{ create_csrf_token(output=False) }}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='edit_template.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pdf.worker.bundle.js') }}"></script>
{% endblock %}