{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div id="app"></div>
    <div class="mx-2">
        {% with items=documents.items %}
            {% include "components/document_list.html" %}
        {% endwith %}
    </div>
    {% with pagination=documents, page_url='base.index' %}
        {% include "components/pagination.html" %}
    {% endwith %}
{% endblock %}
{% block extra_js %}
    <script>
        window.templateApi = '{{ url_for('api.v1.template.api') }}';
    </script>
    {{ create_csrf_token(output=False) }}
    <script type="text/javascript" src="{{ url_for('static', filename='main.bundle.js') }}"></script>
{% endblock %}
