{% extends "base.html" %}
{% block body_class %}doku-edit{% endblock %}
{% block content %}
    {{ super() }}
    <div id="resources"></div>
{% endblock %}

{% block extra_js %}
    <script>
        window.resources = {{ resources_json|tojson }};
        window.resourceApi = '{{ url_for('api.v1.resource.update') }}'
        {{ create_csrf_token(output=False) }}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='resources.bundle.js') }}"></script>
{% endblock %}
