{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div>
        <div class="border rounded p-4 m-4 bg-gray">
            <form action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ create_csrf_token() }}"/>
                <label class="form-label d-inline-block text-small p-0 m-0" for="inputName">Name</label>
                <div class="form-inline mx-2">
                    <input class="form-input input-sm" type="text" name="name" id="inputName" placeholder="Name">
                </div>
                <input ref="sourceFile" name="file" type="file" accept="image/*">
                <button type="submit" class="btn btn-sm btn-primary float-right">Upload</button>
            </form>
            </div>
        </div>
        {% for resource in resources %}
            <div class="resource-item border rounded p-4 m-4 bg-gray">
                <img style="max-height: 96px; max-width: 96px;" src="{{ resource.url }}" alt="...">
                <span class="ml-2">{{ resource.name }}</span>
                <code class="ml-2">
                    ![{{ resource.name }}](dokures:{{ resource.id }})
                </code>
            </div>
        {% endfor %}
    </div>
{% endblock %}
