{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div class="doku-document-toolbar">
        <h3>Snippets</h3>
        <div>
            <form action="{{ url_for("snippet.create_snippet") }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ create_csrf_token(output=True) }}">
                <button class="btn btn-sm" type="submit">
                    {% include "components/icons/plus.html" %}
                    Create new snippet
                </button>
            </form>
        </div>
    </div>
    <form action="" class="ml-2 mb-3" method="get">
        <input type="hidden" name="page" value="{{ snippets.page }}"/>
        <div class="form-inline">
            <input class="form-input input-sm" type="text" name="query" value="{{ query }}" placeholder="Search">
        </div>
        <button class="btn btn-sm btn-primary" type="submit">
            Search
        </button>
    </form>
    <div class="mx-2 columns">
        {% for item in snippets.items %}
            <div class="column col-6 col-md-12">
                {% include "components/snippet_list_item.html" %}
            </div>
        {% endfor %}
    </div>
    {% with pagination=snippets, page_url='snippet.index' %}
        {% include "components/pagination.html" %}
    {% endwith %}
{% endblock %}
