<header class="navbar p-3 border-bottom">
    <section class="navbar-section">
        <a href="{{ url_for('base.index') }}" class="navbar-brand mr-4">Doku</a>
        <a href="{{ url_for('base.index') }}" class="ml-4 btn btn-link text-dark">Documents</a>
        <a href="{{ url_for('resources.index') }}" class="ml-2 btn btn-link text-dark">Resources</a>
    </section>
    <section class="navbar-section">
        <div class="dropdown dropdown-right">
            <a class="btn btn-link-icon dropdown-toggle" tabindex="0">
                <i data-feather="user"></i>
            </a>
            <ul class="menu text-left">
                <li class="menu-item">
                    <div class="tile tile-centered">
                        <div class="tile-icon icon-bg icon-bg-sm bg-dark">
                            <i height="12px" width="12px" data-feather="user"></i>
                        </div>
                        <div class="tile-content">{{ session['user'] }}</div>
                    </div>
                </li>
                <li class="divider"></li>
                <li class="menu-item"><a href="{{ url_for('auth.account') }}">Account</a>
                <li class="menu-item"><a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </section>
</header>