<table class="list table table-hover">
    <thead>
        <tr>
            <th>
                <a class="text-dark" href="{{ url_for('base.index', order='name', dir='asc', page=documents.page) }}">NAME</a>
            </th>
            <th>TEMPLATE</th>
            <th>
                <a class="text-dark" href="{{ url_for('base.index', order='last_updated', dir='desc', page=documents.page) }}">LAST UPDATED</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents.items %}
            <tr>
                <td>
                    <a href="{{ url_for('document.index', document_id=document.id) }}">
                        {{ document.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('template.index', template_id=document.template.id) }}">
                        {{ document.template.name }}
                    </a>
                </td>
                <td>
                    <span class="tooltip" data-tooltip="{{ document.last_updated_format }}">
                        {{ document.last_updated_timedelta }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>