<div id="sidebar" onload="window.setUpSidebar()" class="sidebar-container">
    <div class="sidebar-header sidebar-item">
        <a onclick="toggleSidebar()" class="sidebar-icon">
            {% include "components/icons/menu.html" %}
        </a>
        <a href="{{ url_for('base.index') }}" class="sidebar-brand sidebar-link">
            Doku
        </a>
    </div>
    <a href="{{ url_for('base.index') }}" class="sidebar-item mt-4{% if request.endpoint == 'base.index' %} active{% endif %}">
        <div class="sidebar-icon">
            {% include "components/icons/file-text.html" %}
        </div>
        <div class="sidebar-link">
            Documents
        </div>
    </a>
    <a href="{{ url_for('resources.index') }}" class="sidebar-item{% if request.endpoint == 'resources.index' %} active{% endif %}">
        <div class="sidebar-icon">
            {% include "components/icons/image.html" %}
        </div>
        <div class="sidebar-link">
            Resources
        </div>
    </a>
    <a href="{{ url_for('account.index') }}" class="sidebar-item pos-bottom{% if 'account.' in request.endpoint %} active{% endif %}">
        <div class="sidebar-icon">
            {% include "components/icons/user.html" %}
        </div>
        <div class="sidebar-link">
            Account
        </div>
    </a>
    <a href="{{ url_for('auth.logout') }}" class="sidebar-item">
        <div class="sidebar-icon">
            {% include "components/icons/logout.html" %}
        </div>
        <div class="sidebar-link">
            Logout
        </div>
    </a>
</div>