{% extends "sites/account/base.html" %}
{% block account_content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, val in downloads.items() %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ val.date }}</td>
                    <td>{{ val.status }}</td>
                    <td>
                        <form action="{{ url_for("account.downloads_delete") }}", method="post">
                            <input type="hidden" value="{{ id }}" name="download_id">
                            <input type="hidden" name="csrf_token" value="{{ create_csrf_token() }}"/>
                            <button class="btn btn-sm btn-link text-dark" type="submit">
                                {% include "components/icons/trash-2.html" %}
                            </button>
                        </form>
                        {% if val.status == "SUCCESS" %}
                            <a class="btn btn-sm btn-link text-dark" href="{{ url_for("account.download", download_id=id) }}">
                                {% include "components/icons/download.html" %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_js %}
{% endblock %}