<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login - doku</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body class="doku-edit">
    <section id="content" class="min-h-100 pt-5">
        <section class="hero hero-fill d-block">
            <div class="container grid-xs p-2">
                <div class="columns">
                    <div class="column">
                        <div class="text-center my-2">
                            <h3 class="brand">Doku</h3>
                            <h4>Login</h4>
                        </div>
                        <form id="logInForm" action="{{ url_for('auth.login', next=next) }}" method="post">
                            <div {% if error %}class="has-error"{% endif %}>
                                <input type="hidden" name="csrf_token" value="{{ create_csrf_token() }}">
                                <div id="emailGroup" class="form-group">
                                    <label class="form-label" for="login-email">E-Mail</label>
                                    <input class="form-input" name="email" id="email" placeholder="E-Mail">
                                    {% if error %}
                                        <p id="email-error" class="form-input-hint is-error">{{ error }}</p>
                                    {% endif %}
                                </div>
                                <div id="passwordGroup" class="form-group">
                                    <label class="form-label" for="login-password">Password</label>
                                    <input class="form-input" autocomplete="password" type="password" name="password" id="password" placeholder="Password">
                                    <p class="form-input-hint"><a class="text-dark" href="#">Forgot your password?</a></p>
                                </div>
                            </div>
                            <div class="form-group text-center w-100">
                                <button type="submit" id="login" class="btn w-100 btn-lg active">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>