table.list {
  thead {
    tr {
      height: $unit-14;
      th {
        font-size: $font-size-tiny;
        color: $gray-500;
        border-bottom: solid $border-color $border-width;
      }
    }
  }
  tbody {
    tr{
      td {
        font-size: $font-size-sm;
        padding: $unit-4;
      }
    }
    tr:last-of-type {
      td {
        border-bottom: none;
      }
    }
  }
}
